:root{
    --primary-color: rgb(0, 153, 255);
}
html, body{
    font-family: 'Baloo Da 2', cursive;
    font-size: 14px;
    margin: 0;
    min-height: 300px;
    padding: 0;
    width: 300px;
    background-color: white;
}
.header{
    margin: 5px;
    display: flex;
    align-items: center;
}
.user{
    display: flex;
    align-items: center;
    background-color:rgb(7, 135, 185);
    color: white;
    border: 0px soild white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 15px;
    border-radius: 500px;
    width: fit-content;
    height: 45px;
    margin-left: 10px;
    margin-top: 5px;
    font-size: 25px;
}
.user:hover{
    background-color:rgb(245, 239, 239);
    cursor: pointer;
}
.logo{
    display: flex;
    align-items: center;
    margin: auto;
    font-weight: bold;
    font-size: 25px;
    color: var(--primary-color);
}
.exit{
    display: flex;
    background-color:white;
    color: gray;
    border: 0px soild white;
    padding: 0 15px;
    border-radius: 500px;
    width: fit-content;
    height: 42px;
    margin-right: 5px;
    font-size: 25px;
}
.exit:hover{
    background-color:rgb(245, 239, 239);
    cursor: pointer;
}